body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse,
.navbar-inverse .navbar-nav>.active>a {
    background: #0052CC;
}
.navbar-nav>li>a {
    height: 87px;
    line-height: 60px;
    font-size: 18px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-brand {
    line-height: 60px;
    font-size: 18px;
    color: #ffffff;
}
/*

*/